/* style.css */
* {
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
}

body {
    background: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game {
    position: relative;
}

.health-bar {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 20px;
    border: 2px solid #fff;
    background: #333;
}

#p1-health {
    left: 20px;
    background: linear-gradient(to right, #ff0000, #990000);
}

#p2-health {
    right: 20px;
    background: linear-gradient(to left, #ff0000, #990000);
}

canvas {
    border: 2px solid #333;
}
